<!DOCTYPE html>
<html>
<head>
    <title>Volunteer Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Volunteer Information Management System</h1>

        <a href="/add" class="btn">
            Add Volunteer
        </a>

        <a href="/view" class="btn">
            View Volunteers
        </a>
        <a href="/logout" class="btn logout-btn">
    Logout
</a>
    </div>

</body>
</html>